# Prometheus Service
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: mern-app
  labels:
    app: prometheus
spec:
  type: ClusterIP
  ports:
  - port: 9090
    targetPort: 9090
    protocol: TCP
    name: http
  selector:
    app: prometheus
