version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    # comment volumes for production
    volumes:
      - .:/app
      - /app/node_modules
    command: pnpm dev
