services:
  database:
    image: postgres:15
    container_name: postgres_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: scan2win
    volumes:
      - postgres_data:/var/lib/postgresql/data
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/.env.production
    depends_on:
      - database
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        # VITE_API_BASE_URL: http://localhost:3000/api
        # VITE_FRONTEND_URL: http://localhost:5173
        VITE_API_BASE_URL: http://16.171.170.101:3000/api
        VITE_FRONTEND_URL: http://16.171.170.101:5173
    restart: unless-stopped
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  postgres_data:
