services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: scan2win
      POSTGRES_PASSWORD: scan2win
      POSTGRES_DB: scan2win
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
